<!doctype html>
<html lang="en">
<head>

  <% @title = "New Record" %>

</head>
<body>
<h2>New record was created.</h2>

  <%= link_to "To main page", "/", class: "btn btn-outline-dark" %>

</body>
</html>